<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite3">

<listeners>

         <listener class-name="Academy.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         

 </listeners>
 
  <test name="Checking addition of prediction">
    <classes>
      <class name="ShipcomGroupId.Predict_Now"/>
    </classes>  
     </test> 
   <test name="Checking  FB Login functionality">
   <classes>
      <class name="ShipcomGroupId.LoginByFB"/>
   </classes>
     </test> 
    <test name="test app">
   <classes>
    <class name="ShipcomGroupId.AppTest"/>
   </classes>
   </test>  

 <!-- Test -->
</suite> <!-- Suite3 -->
